<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="phi.css" />
    <title>Document</title>
  </head>
<!-- HEADER -->
<div class="row">
  <div class="wapper1">
    <div class="top-header">
      <nav>
        <ul id="connect">
          <li>
            <a href=""
              ><ion-icon name="call-outline"></ion-icon>
              <table>
                0357xxxxxxx
              </table>
            </a>
          </li>
          <li>
            <a href=""
              ><ion-icon name="mail-outline"></ion-icon>
              <table>
                phihoangha@gmail.com
              </table>
            </a>
          </li>
        </ul>
      </nav>
      <nav>
        <ul id="connect">
          <li>
            <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
          </li>
          <li>
            <a href=""><ion-icon name="logo-flickr"></ion-icon></a>
          </li>
          <li>
            <a href=""><ion-icon name="logo-google"></ion-icon></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="wrapper2">
    <header class ="style-header">
      <div class="inner-header container">
        <a href="" id="logo">T&T Travel</a>
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <nav>
          <ul class="main-menu">
            <li><a href="" class="document-a">MIỀN BẮC</a>
              <ul class="sub-menu">
                <li><a href="" class="document-sub-menu">Du lịch Hà Hội</a></li>
                <li><a href="" class="document-sub-menu">Du lịch lễ hội miền bắc</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Hạ Long</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Sapa</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Đông - Tây Bắc</a></li>
              </ul>
            </li>
            <li><a href="" class="document-a">TOUR MIỀN TRUNG</a>
              <ul class="sub-menu">
                <li><a href="" class="document-sub-menu">Du lịch Đà Năng - Hội An</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Quy Nhơn - Tuy Hòa</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Quảng Bình - Quảng Ngãi</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Huế</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Tây Nguyên</a></li>
              </ul>
            </li>
            <li><a href="" class="document-a">MIỀN NAM</a>
              <ul class="sub-menu">
                <li><a href="" class="document-sub-menu">Du lịch Phú Quốc</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Nha Trang</a></li>
                <li><a href="" class="document-sub-menu">Du lịch TP. Hồ Chí Minh</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Côn Đảo</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Đà Lạt</a></li>
              </ul>
            </li>
            <li><a href="" class="document-a">TOUR MIỀN TÂY NAM BỘ</a>
              <ul class="sub-menu">
                <li><a href="" class="document-sub-menu">Du lịch Tiền Giang</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Cần Thơ</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Vĩnh Long</a></li>
                <li><a href="" class="document-sub-menu">Du lịch Sóc Trăng</a></li>
              </ul>
            </li>
            <li><a href="" class="document-a">TOUR KHÁCH ĐOÀN</a>
              <ul class="sub-menu">
                <li><a href="" class="document-sub-menu">Cát Bà Cô Tô - Quan Lạn</a></li>
                <li><a href="" class="document-sub-menu">Hạ Long - Móng Cái</a></li>
                <li><a href="" class="document-sub-menu">Sầm Sơn - Hải Tiến - Cửa Lò</a></li>
                <li><a href="" class="document-sub-menu">Hà Tĩnh Quảng Bình</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- <div id="banner"></div> -->
  </div>
</div>
<!-- END HEADER -->
  <body>
    <div class="container-fluid p-0 bg-light">
      
      <!-- START CONTENTS -->
      <div class="container">
        <!-- START CONTENTS__LOCATION -->
        <div class="row my-5">
          <h2 class="my-3 text-center fw-bold">ĐỊA ĐIỂM NỔI BẬT</h2>

          <article class="mt-3 row row-cols-1 row-cols-md-12 row-gap-3">
            <div class="col-8">
              <a href="">
                <div class="card h-100">
                  <img
                    src="./img/Halong.jpg"
                    class="card-img w-100 h-100"
                    alt="..."
                  />
                  <div
                    class="card-img-overlay d-flex justify-content-center align-items-center"
                  >
                    <p class="card-title fs-1 fw-bold text-white opacity-50">
                      Hạ Long
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a href="">
                <div class="card h-100">
                  <img
                    src="./img/sapa_vertical.jpg"
                    class="card-img w-100 h-100"
                    alt="..."
                  />
                  <div
                    class="card-img-overlay d-flex justify-content-center align-items-center"
                  >
                    <p class="card-title fs-1 fw-bold text-white opacity-50">
                      Sapa
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a href="">
                <div class="card h-100">
                  <img
                    src="./img/hn.jpg"
                    class="card-img w-100 h-100"
                    alt="..."
                  />
                  <div
                    class="card-img-overlay d-flex justify-content-center align-items-center"
                  >
                    <p class="card-title fs-1 fw-bold text-white opacity-50">
                      Trong nước
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a href="">
                <div class="card h-100">
                  <img
                    src="./img/ncngoai.jpg"
                    class="card-img w-100 h-100"
                    alt="..."
                  />
                  <div
                    class="card-img-overlay d-flex justify-content-center align-items-center"
                  >
                    <p class="card-title fs-1 fw-bold text-white opacity-50">
                      Nước ngoài
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-4">
              <a href="">
                <div class="card h-100">
                  <img
                    src="./img/cau.jpg"
                    class="card-img w-100 h-100"
                    alt="..."
                  />
                  <div
                    class="card-img-overlay d-flex justify-content-center align-items-center"
                  >
                    <p class="card-title fs-1 fw-bold text-white opacity-50">
                      Đà nẵng
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </article>
        </div>
        <!-- END CONTENTS__LOCATION -->
        <!-- START CONTENTS__BEST TOUR -->
        <div class="row my-5">
          <h2 class="my-3 text-center fw-bold">TOUR NỔI BẬT</h2>

          <article class="mt-3 row row-cols-1 row-cols-md-4 row-gap-3">
            <div class="col">
              <div class="card h-100">
                <img src="./img/Halong.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Đà nẵng</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>

                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/slide4.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Đà nẵng</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/slide4.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Đà nẵng</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/slide4.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Đà nẵng</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/slide4.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Đà nẵng</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/slide4.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Đà nẵng</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/slide4.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Đà nẵng</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- END CONTENTS__BEST TOUR -->
        <!-- START CONTENTS__RECOMMEND TOUR -->
        <div class="row my-5">
          <h2 class="my-3 text-center fw-bold">TOUR KHUYẾN NGHỊ</h2>

          <article class="mt-3 row row-cols-1 row-cols-md-4 row-gap-3">
            <div class="col">
              <div class="card h-100">
                <img src="./img/hn.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Hà Nội</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>

                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/hn.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Hà Nội</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/hn.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Hà Nội</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/hn.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Hà Nội</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/hn.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Hà Nội</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/hn.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Hà Nội</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100">
                <img src="./img/hn.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Hà Nội</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary mt-auto">Đặt Tour</a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- END CONTENTS__RECOMMEND TOUR -->
      </div>

      <!-- END CONTENTS -->
      <!-- START FOOTER -->
      <footer>
        <div class="footer">
          <div class="row-footer">
            <div class="colum">
              <h3>Call Us</h3>
              <h3 style="color:black">
                <ion-icon name="call-outline"></ion-icon>
                <table>
                  0357xxxxxxx
                </table>
              </h3>
              <h3>Email</h3>
              <h3 style="color: black">
                <ion-icon name="mail-outline"></ion-icon>
                <table>
                  phihoangha@gmail.com
                </table>
              </h3>
            </div>
            <div class="colum">
              <h3>About Us</h3>
              <ul>
                <li><a href="#">Our story</a></li>
                <li><a href="#">Travel Blog & Tips</a></li>
                <li><a href="#">Working With Us</a></li>
                <li><a href="#">Be Our Partner</a></li>
              </ul>
            </div>
            <div class="colum">
              <h3>Support</h3>
              <ul>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Privacy & Policy</a></li>
                <li><a href="#">Contact Channels</a></li>
              </ul>
            </div>
            <div class="colum">
              <h3>Pay Safely With Us</h3>
              <ul>
                <li>
                  <a href="#"
                    >The payment is encrypted and transmitted securely with an
                    SSL protocol.</a
                  >
                </li>
                <li><img src="img/logoVS.png" style="padding-top: 15px;width: 120%; height: 120%;" /></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer2">
        <div class="footer">
          <div class="row-footer2">
            <div class="colum2">
              <h3 class="content-H3">2023 Travel Tour All Right Reserved</h3>
            </div>
            <div class="colum2">
              <h3 class="content-H3">
                Follow Us On
                <a href="#" class="linkFB"><i class="bx bxl-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-linkedin"></i></a>
                <a href="#"><i class="bx bxl-pinterest-alt"></i></a>
                <a href="#"><i class="bx bxl-vimeo"></i></a>
              </h3>
            </div>
          </div>
        </div>
      </footer>
      <!-- START FOOTER -->

      <!-- LOGIC STICKY HEADER -->
      <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
      <script>
        $(document).ready(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop()) {
              $("header").addClass("sticky");
            } else {
              $("header").removeClass("sticky");
            }
          });
        });
      </script>
      <!-- LOGIC STICKY HEADER -->
    </div>
  </body>
</html>
