ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin: 0px auto;
    max-width: 1280px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    background: #8dcff5;
    width: 100%;
    text-align: center;
}
ul#connect{
    display: flex;
}
ul#connect a{
    padding: 10px 20px;
    color: #fff;
    display: block;
    text-align: center;
}
#logo{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu{
    display: flex;
    margin-bottom: 0px;
}
.main-menu a{
    padding: 10px 20px;
    color: #fff;
    display: block; 
    font-weight: bold;
}
.main-menu li{
    position: relative;
}
.main-menu li:hover .document-a{
    background: #088cc0;
    color: #fff;
    transition: all 0.5s;
}
.main-menu li:hover .sub-menu{
    display: block;
}
.sub-menu{
    position: absolute;
    background:#f5f5f5;
    padding: 0px 0px;
    width: 250px;
    display: none;
    z-index: 999;
}
.sub-menu a{
    padding: 8px 15px;
    background: #262626;
    color: #bbb6b6;
    font-size: 0.8em;
}
.sub-menu li:hover .document-sub-menu{
    border-bottom: 1px solid white;
    background: #00A2E3;
    color: #fff;
    font-size: 0.9em;
    transition: 0.5s;
}
#banner{
    background: url(img/bgtravel.jpg);
    background-size:cover;
    background-position: center top;
    min-height: 567.062px;
    width: 100%;

}
.style-header{
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
    transition: 0.9s ease-in-out;
    background: #00A2E3;
    color: #fff;
}
.style-header.sticky{
    z-index: 999;
    position: fixed;
    background: #00A2E3;
    opacity: 0.9;
    padding: 15px 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.style-header.sticky #main-menu a{
    color: #fff;
} 
.style-header.sticky #logo{
    color: #fff;
}
@media screen and (max-width: 700px){
    .main-menu{
        flex-direction: column;
        font-size: 10px;
    }
    nav{
        display: none;
    }
    .toggle{
        display: block;
    }
}
@media screen and (min-width: 700px){
    .toggle{
        display: none;
    }
}
/*footer*/
#content h1{
    padding: 30px 0px;
}

#content p{
    margin-bottom: 1.2rem;
}


.row-footer{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.row-footer2{
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.colum{
    width: 25%;
}
.colum2{
    width: 50%;
    text-align: center
}
.colum H3{
    font-size: 1.2em;
}
.colum a{
    color: #fff;
}
.colum h3{
    padding-bottom: 15px;
}
footer{
    font-size: 1.1em;
    background: #00A2E3;
    color: #fff;
}
.footer2{
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
}
.content-H3 a{
    color: #fff;
}
.linkFB{
    padding-left: 50px;
}